

@{
    ViewBag.Title= "Project";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Project</title>
</head>
<body>
    <h2>Create You're Character </h2>
    <p>What is Characters Name?</p>
    <p>What is Characters Race?</p>
    <p>What is Characters Gender?</p>
    <p>What is Chraters Backgrond?</p>
    <div>

        @Html.ActionLink("Home", "Index")
    </div>
</body>
</html>
