
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SoloProject</title>
</head>
<body>
    <div>
    </div>

    @Html.ActionLink("Home", "Solo")
</body>
</html>
